@import "../_snowpack/pkg/tailwindcss/dist/base.css";
@import "../_snowpack/pkg/tailwindcss/dist/components.css";
@import "../_snowpack/pkg/tailwindcss/dist/utilities.css";

/*
* CUSTOM CSS
*/

.centering-items{
    justify-content: center;
    align-items: center;
}

.myMediaList{
    display: flex;
    list-style-type: none;
}

a{
    color: white;
}

.myMediaList a:hover{
    color: #F59E0B;
}


.aboutMeContainer a:hover{
    color: #F59E0B;
}